:root{
    /*fonts*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /*text colors*/
    --main-txt-cl:#212121;
    --hero-txt-cl: #ffffff;
    --secondary-txt-cl: #757575;
    --accent-txt-cl:#2196F3;
    /*bg colors*/
    --main-bg-cl: #E5E5E5;
    --dark-bg-cl: #2F303A;
    --other-bg-cl: #F5F4FA;
    --icon-cl: #AFB1B8;
      /*others*/
      --main-gap: 30px;
      --work-cards: 3;
      --teams-item: 4;
      --portfolio-item: 3;
      --outline: ;
      --outline-offset: ;
      --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      /*      --outline: 2px solid red;
      --outline-offset: -2px;*/
}
body {
    font-family: var(--main-font);
    font-style: normal;
    color: var(--main-txt-cl);
}
.no-scroll {
    overflow: hidden;
}
    /*reset styles*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    
}
p {
    margin: 0;
}
.link {
    text-decoration: none;
    color: var(--main-txt-cl);
}
.list {
    list-style: none;

    padding: 0;
    margin: 0;}
    /* main styles*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    

    outline: var(--outline) ;
    outline-offset: var(--outline-offset) ;
}

/* main buttn styles*/
.button {
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    padding: 6px 22px;
    
    transition: background-color var(--anim-fast), color var(--anim-fast), box-shadow var(--anim-fast);


}
.button:hover,
.button:focus {
    background-color: var(--accent-txt-cl);
    color: var(--hero-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
/*header styles*/
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 93px;
}
.header-nav {
    margin-right:auto;
}
.header-nav-list,
.header-contact  {
    display: flex;
    align-items: center;
    gap: 50px;}



/* logo styles*/
.logo 
{
    font-family: 'Raleway';
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
   
    letter-spacing: 0.03em;
}
.studio-footer {color: var(--hero-txt-cl);}
.studio-header {color: #000000;}
/*header-nav styles*/
.header {
    border-bottom: 1px solid #ECECEC;
}
.header-link {


    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-txt-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    transition: color var(--anim-fast);
}

.header-link-current {
    color: var(--accent-txt-cl);
    position: relative;
}
.header-link-current:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-txt-cl);

    position: absolute;
    bottom: 0;
    left: 0;

    
}
.header-link:hover, .header-link:focus {color: 
        var(--accent-txt-cl);
    }
.header-mail, .header-phone {
    display: flex;
    color: var(--secondary-txt-cl);
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        align-items: center;
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--anim-fast);
      
}
.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {color: var(--accent-txt-cl);}
.icon-nav {
    fill: currentColor;
}
.header-contact-list {
    display: block;
    align-items: center;
    text-align: center;
    
}


/*main styles*/ 
.section {
    padding-top: 94px;
    padding-bottom: 94px;}
/*hero styles*/
.hero-section {
    background-image: linear-gradient(360deg,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/fonimg.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: var(--dark-bg-cl); padding: 200px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

 
    
}
.hero-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.main-title {
color: var(--hero-txt-cl);
font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
   

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
   


}
/*hero button*/
.hero-button {
    color: var(--hero-txt-cl);
    background-color: var(--accent-txt-cl);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    border: none;
    letter-spacing: 0.06em;

    max-width: 220px;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    

    

    transition: background-color var(--anim-fast);

}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-txt-cl);
    
}

/*Specialty section*/
.specialty {padding-bottom: 0;}
.specialty-titel {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.specialty-list {
    display: flex;
    gap: var(--main-gap);
    }
.specialty-list-item{flex-basis: 270px;}
.specialty-icon-box {
            display:flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 120px;
            background: #F5F4FA;
            border-radius: 4px;
            margin-bottom: 30px;
        
}
.specialty-icon {
            outline: var(--outline);
                outline-offset: var(--outline-offset);
            
        }
.speciality-item {
    color: var(--main-txt-cl);
    font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 10px;
}
.specialty-desc
{
    color: var(--secondary-txt-cl);
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    width: 270px;
}
    /*work cards*/
 .cards-titel
     { color: var(--main-txt-cl);
        font-weight: 700;
            font-size: 36px;
            line-height: calc(42/36);
            letter-spacing: 0.03em;
     }
     /* Our team section */
  .cards-titel {
    color: var(--main-txt-cl);
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;

        text-align: center;

        margin-bottom: 50px;
  }
  .work-cards-list  {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    
  }
  .work-card {
    position: relative;
  }
  img {display: block;}
  .team-card {
    background-color: #F5F4FA;
  }
  .work-overlay {
    position: absolute;
        width: 370px;
        height: 70px;
        bottom: 0;
        z-index: 100;


        background: rgba(47, 48, 58, 0.8);
  }
  .work-overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--hero-txt-cl);
        padding-top: 27px;
        padding-bottom: 27px;
        text-transform: uppercase;
    
  }
  .team-card-list
   {display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    flex-basis: calc((100% - var(--main-gap) * (var(--work-cards) - 1)) / var(--work-cards));
    }
  .team-card-item {
    background-color: #ffffff;
    flex-basis: calc((100% - var(--main-gap) * (var(--teams-item) - 1)) / var(--teams-item));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
    .team-wrapper {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
text-align: center;}
  .team-name {
    color: var(--main-txt-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;}
    .team-card-description 
    {
        color: var(--secondary-txt-cl);
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
    text-align: center;
margin-bottom: 16px;
}
        /*Portfolio*/
.portfolio-nav-button {background-color: #F5F4FA;}
.button-list {
   
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;

}
.gallery-list {display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
 
    }
.gallery-list-item {
    position: relative;
    overflow: hidden;
 
    transition: transform var(--anim-fast);
    transition: box-shadow var(--anim-fast);
    flex-basis: calc((100% - var(--main-gap) * (var(--portfolio-item) - 1)) / var(--portfolio-item));}

.gallery-list-item:hover,
.gallery-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.gallery-link {
    display: block;
    transition: box-shadow var(--anim-fast);
}
.gallery-link:hover,
.gallery-link:focus {
        position: relative;
        overflow: hidden;
        transition: transform var(--anim-fast);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-list-overley {
    position: relative;
    overflow: hidden;
}

.overley {

    position: absolute;
    top: 0;
    left: 0;
   
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 63px 24px;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    backdrop-filter: blur(3px);
        transition: transform var(--anim-fast)
   
    
}
.gallery-link:hover .overley {
    
    transform: translatey(0);

}
.overley-text {
    
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28/18);
    

        letter-spacing: 0.03em;
    
        color: var(--hero-txt-cl)
}

.wrapper {
    
    
    border: 1px solid #EEEEEE;
    border-top:none ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.card-title {
    color: var(--main-txt-cl)  ;
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);

        margin-bottom: 4px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
}
.gallery-desc {
    color: var(--secondary-txt-cl);
        font-size: 16px;
        line-height: calc(30/16);
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
}

/*socials icons*/
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height:44px;
    background-color:var(--secondary-font);
    border-radius: 50%;
    outline: var(--outline);
    color: var(--icon-cl);

    transition: color var(--anim-fast), background-color var(--anim-fast);


}
.socials-link:hover,
.socials-link:focus {
    color: var(--hero-txt-cl);
    background-color: var(--accent-txt-cl);
}
.socials-icon {
    fill: currentColor;
}
/* cleints */

.client-titel {
    margin-bottom: 50px;
}
.client {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    color:var(--icon-cl);

    transition: color var(--anim-fast), border var(--anim-fast);

}
.client-link:hover,
.client-link:focus {
    color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
}
.client-icon {
    fill: currentColor;
}
/* footer styles*/
.footer {

    background-color: var(--dark-bg-cl);
    padding: 60px 0;


}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.footer-mail,
.footer-phone {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    transition: color var(--anim-fast);


}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--accent-txt-cl);
}

.footer-address {
    color: var(--hero-txt-cl);
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-bottom: 8px;
}
/* footer socials icon*/
.footer-socials-titel{
    font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 20px;
    
        color: #FFFFFF;
}
.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.footer-socials-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
outline: var(--outline);
    outline-offset: var(--outline-offset);
    color: var(--hero-txt-cl);

    transition: color var(--anim-fast), background-color var(--anim-fast) ;

}

.footer-socials-link:hover,
.footer-socials-link:focus {
    color: var(--hero-txt-cl);
    background-color: var(--accent-txt-cl);
}

.footer-socials-icon {
    fill: currentColor;
}
.footer-conteiner {
        display: flex;
        align-items: baseline;
}
.footer-conteiner1 {
      margin-right: 70px;
}
.footer-contact-list:not(last-child) {margin-bottom: 9px;}
.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    /*
   display: flex;
    align-items: center;
    justify-content: center;*/

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    
    transition:  opacity var(--anim-fast), visibility var(--anim-fast);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

        transform: translate(-50%, -50%) scale(1) rotate(0);
        width: 528px;
        height: 581px;
        background-color: var(--other-bg-cl);
        border-radius: 4px;
        opacity: 1;
    transition: transform var(--anim-fast), opacity var(--anim-fast); 
    padding: 40px;
        
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
    opacity: 0;
}

.modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;

}
.form {
    display: block;
    text-align: center;
   
}
.form-titel {
    max-width: 448px;
    font-weight: 700;
font-size: 20px;
line-height: calc(23/20);
text-align: center;
letter-spacing: 0.03em;

color: var(--main-txt-cl);
}
.register-form-gtoup {
    margin-top: 12px;
}
.modal-form-group {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.modal-form-group:last-child {
    margin-bottom: 0;
}
.modal-form-input {
    width: 100%;
    
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 30px;
    outline: transparent;

}
.modal-form-input:last-child {
    padding-left: 16px;

}
.form-icon {
    position: absolute;
    top: 35px;
    left: -130px;

}

.modal-form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
}
.modal-form-btn {
 
    font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
color: var(--hero-txt-cl);

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 10px 52px;

    border-radius: 4px;
    background: var(--accent-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
