body {
    font-family: var(--main-font);
    font-style: normal;
    color: var(--main-txt-cl);
}

.no-scroll {
    overflow: hidden;
}
/* main styles*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


    outline: var(--outline);
    outline-offset: var(--outline-offset);
}
/*main styles*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}